/**** ESTILOS GERAIS ****/

:root{
    --corBackground: #370D66;
    --corBackgroundDark: #0e0e0e;
    --corTextPrimaria: #636363;
    --corTextSecundaria: #000;
}

html, body, figure, img, div, input, textarea,
p, h1, h2, h3, h4, h5, h6, ul, li, a, main{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
.hidden {
    display: none;
}
.coluna{
    flex-basis: 48%; 
}


/**** BODY ****/
body{
    font-family: 'Open Sans', sans-serif;
}


/**** HEADER *****/
header{
    background-color: var(--corBackground);
    padding: 40px 40px 0 40px;
}
header .container{
    background-color: white;   
}
header .linha{
    align-items: center;
}
header .coluna-esquerda{
    flex-basis: 30%;
}
header .coluna-direita{
    flex-basis: 60%;
    text-align: center;
}
header .coluna img{    
    max-width: 100%;
}
header .coluna h1{
    font-size: 1.5rem;
    color: var(--corTextSecundaria);
}
header .coluna p{
    font-size: 0.9rem;
    color: var(--corTextPrimaria);
}
header .coluna ul{
    margin: 16px 0 0 0;
}
header .coluna ul li{
    margin: 0 0 0px;
}
header .coluna ul li a{
    font-size: 1rem;
    color: var(--corTextSecundaria);
}



/**** CORPO - PAGINA INICIAL ****/
main .coluna {
    padding: 20px;
}
main .coluna section{
    border-bottom: 1px solid #d4e9ff;
    margin: 0 0 20px;
    min-height: 160px;
    border-radius: 0.2rem;
    color: var(--corTextSecundaria);
}
main .coluna section h2{
    font-size: 1.3rem;
    margin: 0 0 15px;
}
main .coluna section p{
    font-size: 0.9rem;
    color: var(--corTextPrimaria);
    line-height: 1.5;
}
.coluna .perfil{
    font-size: 0.9rem;
    color: var(--corTextPrimaria);
}
main .coluna section ul li{
    margin: 0 0 10px;
}
main .coluna section ul li h3{
    font-size: 1.1rem;
}
main .coluna section ul li strong{
    font-size: 0.9rem;
    font-weight: 500;
    display: block;
    margin: 5px 0 10px;
}



/**** FOOTER ****/
footer{
    background-color: var(--corBackground);
}
footer .container{
    padding: 20px;
}
footer nav ul li a{
    color: white;   
}
footer nav .info-contato li{
    margin: 0 0 15px;
}
footer nav .redes-sociais{
    border-top: 1px solid rgb(255 255 255 /20%);
    margin: 20px 0 50px;
    padding: 50px 0 0;
    text-align: center;
}
footer nav .redes-sociais li{
    margin: 15px 20px;
    text-align: center;
    display: inline-block;
}
footer nav .redes-sociais li a img{
    width: 35px;
}



/**** @MEDIA ****/

@media only screen and (min-width: 768px) {
    .linha{
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-between;
    }
    footer nav .redes-sociais{
        display: flex;
        justify-content: center;    
    }
    header{
        padding: 40px 0 0;
    }
    header .coluna img{    
        max-width: 250px;
        border-radius: 100%;
    }
    .container{
        width: 100%;
        max-width: 1125px;
        border-radius: 0.3rem 0.3rem 0 0;
        margin: 0 auto;
        padding: 30px;
    } 
    header .coluna-direita{
        text-align: left;
    }
    main .coluna section{
        border: 1px solid #4b4343;    
        padding: 20px;
    }
    main .coluna {
        padding: 0;
    }
    footer nav .redes-sociais li{
        margin: 0 14px;
        text-align: center;
        display: initial;
    }   
    label {
        position: absolute;
        top: 30px;
        right: 30px;
        width: 58px;
        height: 35px;
        padding: 6px 7px;
    }
    label span{
        background-color: #d4e9ff;
        width: 23px;
        height: 23px;
        display: block;
        border-radius: 100%;
        transition: 0.2s;
    }
}

@media only screen and (min-width: 991px) {
    header .coluna-direita{
        flex-basis: 70%;
    }
}


/**** EXTRAS ****/
.ativar-dark {
    width: 50px;
    height: 50px;
    display: none;
}
header .container {
    position: relative;
}
label {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 48px;
    height: 26px;
    background-color: var(--corBackground);
    border-radius: 20px;
    padding: 4px 7px;
    box-sizing: border-box;
    cursor: pointer;
}
label span{
    background-color: #d4e9ff;
    width: 18px;
    height: 18px;
    display: block;
    border-radius: 100%;
    transition: 0.2s;
}



.ativar-dark:checked ~ .dark-mode label {
    background-color: #d4e9ff;
}
.ativar-dark:checked ~ .dark-mode label span {
    background-color: black;
    margin-left: 22px;
}
.ativar-dark:checked ~ .dark-mode{
    --corBackground: #000;
    --corTextPrimaria: #fff;
    --corTextSecundaria: #fff;
}
.ativar-dark:checked ~ .dark-mode header{
    background-color: var(--corBackground);
}
.ativar-dark:checked ~ .dark-mode header .container{
    background-color: var(--corBackgroundDark);
} 
.ativar-dark:checked ~ .dark-mode .container{
    background-color: var(--corBackgroundDark);
} 
.ativar-dark:checked ~ .dark-mode main {
    background-color: var(--corBackground);
} 